body {
    background-color: beige;
}

h1, h2, h3, h4, h5 {
    color: #300000;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 5px;
}

h5 {
    font-size: 12px;
}

p {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding: 20px;
    text-align: left;
    background-color: antiquewhite;
}
img {
    width: 800px;
    display: block;
    border-radius: 50px;
    border: 3px solid #300000 ;
}

#dishes {
    margin: 0 300px;
    margin-bottom: 0;
}

.recipesLinks, #homePage {
    display: inline-block;
    padding: 30px;
    margin: 10px;
    background-color: #300000;
    color: bisque;
}

.links {
    text-align: center;
    margin: 50px;
}

ul li, ol li {
    font-weight: 400;
    font-size: large;
}

.links a {
    border: 5px solid #7c2c2c;
    border-radius: 10px;
}