
h1, h2, h3, h4, h5 {
    color:black;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 12px;
}

img {
    width: 800px;
    display: block;
}

#dishes {
    margin: 0 300px;

}

